<!DOCTYPE html>
<html>
    <head>
      <title>Blog</title>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <style type="text/css">
        html body{
            background-image: url('/assets/download.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        html,body {

        }
      </style>
     
    </head>

    <body>

 
      <%= render partial: 'layouts/header' %>

      <div id="wrap">
      <div id="main-container" class="container">
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end -%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 sidebar">
            <h3>Tips for Articles</h3>
              <p>
                <ul>
                  <li>Get ideas from your audience</li>
                  <li>Understand your audience</li>
                  <li>Write for yourself first</li>
                  <li>Get ideas from your audience</li>
                  <li>Build your email list</li>
                  <li>Get ideas from your audience</li>
                  <li>Understand your audience</li>
                  <li>Get ideas from your audience</li>
                </ul>
              </p>
              <h3>Tips for Articles</h3>
              <p>
                <ul>
                  <li>Get ideas from your audience</li>
                  <li>Understand your audience</li>
                  <li>Write for yourself first</li>
                  <li>Get ideas from your audience</li>
                  <li>Build your email list</li>
                  <li>Get ideas from your audience</li>
                  <li>Understand your audience</li>
                  <li>Get ideas from your audience</li>
                </ul>
              </p>
          </div>
          <div class="col-xs-9">
            <%= yield %>
          </div>
        </div>
      </div>  

      <%= render partial: 'layouts/footer' %>
      <div>
 
    </body>
</html>
